body {
    font-family: montserrat;
    height: 100% !important;
    background-color: #add8e6 !important
}
.card-title
{
    font-family: montserrat;
    font-size: 1.8rem;
}
.more {
    opacity: 0.5 !important
}

.btn:hover {
    color: #232323 !important
}

.vl {
    margin: 8px !important;
    width: 2px;
    border-right: 1px solid #aaaaaa;
    height: 25px
}

#plus {
    opacity: 0.8
}

.card {
    border-radius: 10px !important;
    box-shadow : 0 0 2px #444444
}

a:hover {
    background-color: #ccc !important
}

.btn-outlined:active {
    color: #FFF;
    border-color: #fff !important
}

img {
    cursor: pointer;
    overflow: visible
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important
}

.container {
    margin-top: 100px !important
}